{% extends "layout.twig" %}

{% block content %}
    <!-- Theme Feature Widget -->
    <div class="feature-gallery">
        {{widget('gallery', 'homepagegallery',
        {'showDescription': true,
        'showTitle': true,
        'images':
        [
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/1.jpg'), 'title':'test title', 'description': 'test desc'},
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/2.jpg'), 'title':'test title', 'description': 'test desc'},
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/3.jpg'), 'title':'test title', 'description': 'test desc'}
        ]
        })|raw}}
    </div>

    <div class="container">
        <!-- Main Widet Zone -->
        {{zone('main')|raw}}
    </div>
{% endblock %}
