{% extends "layout.twig" %}

{% block content %}
    <!-- Theme Feature Widget -->
    <div class="feature-gallery">
        {{widget('gallery', 'homepagegallery',
        {'showDescription': true,
        'showTitle': true,
        'images':
        [
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/1.jpg'), 'title':'Lorem Ipsum', 'description':'Duis mattis semper ipsum, lobortis rutrum pretium ast magnimus.'},
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/2.jpg'), 'title':'Vivamus Magnis', 'description':'Praesent varius sapien non enim semper quis tellus aliquet odiao.'},
        {'imageHeight':'500', 'imageWidth':'500', 'url':asset('/images/gallery/3.jpg'), 'title':'Praesent Magna', 'description':'Dignissim in ipsum luctus, commodore posuere estemor tellus.'}
        ]
        })|raw}}
    </div>

    <div class="container">
        <!-- Main Widet Zone -->
        {{zone('main')|raw}}
    </div>
{% endblock %}
