<div class="theme-footer">
    <div class="theme-footer__graphic  rule"></div>
    <div class="container">
        <div class="theme-footer__one">
            {{widget('profile', 'email', { 'profileType':'email', 'email':'profile'})|raw}}
        </div>
        <div class="theme-footer__two profile-right">
            {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile'})|raw}}
        </div>
    </div>
</div>
