<div class="theme-border-top"></div>
<!-- Template Widgets -->
<div class="theme-header">
    <div class="flex-container">
        <div class="brand flex-item">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="flex-item">
            <div class="extendednavigation-line"></div>
            {{widget('extendednavigation', 'navigation', {"align":"right"})|raw}}
        </div>
    </div>
    <div class="theme-header--profile profile-right">
        {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
</div>
