<div class="theme-border-top"></div>
<!-- Template Widgets -->
<div class="theme-header">
    <div class="flex-container">
        <div class="brand flex-item">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>

        <div class="flex-container-2">

            <div class="flex-item">
                {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>

            <div class="flex-item-two">
                <div class="extendednavigation-line"></div>
                    {{widget('extendednavigation', 'navigation', {"align":"right"})|raw}}
            </div>
        </div>

    </div>

</div>
